# Dependencies
/node_modules/
/app/node_modules/
/pnpm-lock.yaml
/package-lock.json
/app/package-lock.json

# Logs
npm-debug.log*
pnpm-debug.log*

# Build outputs
/dist/
/build/

# IDE files
.vscode/

# Misc
.DS_Store
